@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.ArticleList>
@{
    Layout = "Master.cshtml";
}
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>@Model.Name</h1>
                    <span class="subheading">A Blog Theme</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
@Html.Partial("~/Views/Partials/latestArticles.cshtml")